.Aboutmian {
	background: var(--Aboutmian-background-color);
	justify-content: space-evenly;
	margin: auto;
	flex-direction: column;
	align-items: center;
	padding: 0;
}

.circle_About {
	width: 20vw;
	height: 20vh;
	border-radius: 50%;
	background-color: #ea7411;
	filter: blur(250px);
	position: absolute;
}

.circle_About:first-child {
	/* 第一个圆的样式 */
	top: 40vh;
	left: 25vw;
}

.circle_About:last-child {
	/* 第二个圆的样式 */
	bottom: 60vh;
	right: 25vw;
}

/*──────────────────
       About
──────────────────*/

#About {
	height: 100vh;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: space-evenly; */
	background-size: cover;
	background-position: center;
}


.About_h1 {
	padding-bottom: 15px;
	letter-spacing: normal;
	font-family: #000000;
	font-style: normal;
	font-size: 4rem;
	color: var(--color);
	text-shadow:
		2px 2px 40px #ea7411,
		-2px 2px 0 #ea7411,
		2px -2px 0 #ea7411,
		-2px -2px 0 #ea7411;
	text-align: center;
}

.h3 {
	padding-bottom: 15px;
	letter-spacing: normal;
	font-style: normal;
	font-size: 2rem;
	text-shadow: 0px 0px 40px var(--main-decor-color);
}

@media only screen and (max-width: 236px) {
	.About_h1 {
		font-size: 1.2rem;
	}

	#projects h3 {
		font-size: 1.2rem;
	}

	#contact h3 {
		font-size: 1.2rem;
	}
}

.About_strong {
	font-size: 2rem;
	margin: 2vh;

}



/*---2D旋转---*/
.rotate1 {
	display: inline-block;
	animation: rotate 20s infinite linear;
	width: 200px;
	height: 200px;
	perspective: 100%;
	margin-top: 10vh;
	margin-bottom: 2vh;
}

.Imagelogo {
	width: 100%;
	height: 100%;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/*──────────────────
       About媒体查询
──────────────────*/
@media screen and (min-width:801px) and (max-width:1580px) {
	#About {
		height: 100vh;
	}

	.marqee-container {
		margin-top: 0px;
	}
}

@media only screen and (max-width: 850px) {

	.About_h1 {
		font-size: 3rem;
	}

	.rotate1 {
		display: inline-block;
		animation: rotate 20s infinite linear;
		width: 100px;
		height: 100px;
		perspective: 100px;
		margin-top: 10vh;
	}

	.About_strong {
		font-size: 1.5rem;
		margin: 2vh;
	}

	.Aboutbtn {
		display: flex;
		flex-direction: column;
		align-items: center;
	}


	.feature-card {

		height: 80px;
		width: 100%;
		flex: 2 0 80px;

	}
}

@media only screen and (max-width: 390px) {
	.social-media1 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.About_h1 {
		font-size: 2rem;

	}
}


/*--------------------fu--------------------*/




/*----打字---*/
.typing-animation {
	font-size: 1rem;
	overflow: hidden;
	white-space: pre;
	width: 100%;
}

/* 打字动画 */
.typing-animation {
	animation: typing 5s steps(40, end);
}

@keyframes typing {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}



/*────────────────── 
       2加入社区
──────────────────*/
#hmoeWeb3 {
	text-align: center;
	margin: auto;
	max-width: 1536px;
}

.hmoeWeb3_card {
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.hmoeWeb3_box {
	height: 100%;
	width: 90%;
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	gap: 2rem;
}

@media only screen and (max-width: 350px) {
	.hmoeWeb3_card {
		height: 100%;
		width: 98%;
		flex-wrap: nowrap;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.hmoeWeb3_box {
		height: 100%;
		width: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 2rem;
		gap: 2rem;
	}
}

/*──────卡片───*/
.kapian {
	gap: 10px;
	margin-top: 10px;
}

.feature_card {
	height: 150px;
	width: 100%;
	box-shadow: 0 0 0.2rem #ea7411;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}

.feature_card:hover {
	transition: all 0.5s;
	box-shadow: 0 0 0.9rem #ea7411;
}

.feature_card-img {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
}

.feature_card p {
	font-size: 1rem;
	padding: 1rem;
}



.fa_icon_4 {
	margin-top: 1rem;
	font-size: 2rem;
	color: #ea7411;
	display: flex;
	justify-content: center;
}


/*────────────────── 
       3web3
──────────────────*/
#web3 {
	margin: auto;
	margin-top: 5vh;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.intro2 {
	margin-top: 3vh;
	text-align: center;
	width: 100%;
	height: 100%;
	max-width: 1536px;
	z-index: 1;
	margin: auto;
}

.intro2 h3 {
	padding-bottom: 15px;
	letter-spacing: normal;
	font-family: var(--body-color);
	font-style: normal;
	font-size: 2rem;
	text-shadow: 0px 0px 40px var(--main-decor-color);
}

.intro2 div {
	font-size: 1.2rem;
	font-family: var(--body-color);
	text-align: center;
}

.kapianweb3 {
	width: 90%;
	height: 100%;
	z-index: 1;
	margin: auto;
	text-align: center;
}

.Web3card {
	margin-top: 2rem;
	width: 100%;
	height: 100%;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	transition: all 0.5s;
	box-shadow: 0 0 0.2rem #ea7411;
}

.Web3card:hover {
	box-shadow: 0 0 0.9rem #ea7411;
}

.Web3card1 span {
	background-color: transparent;
	display: flex;
	justify-content: center;
}

.Web3card1 p {
	text-align: left;
	font-size: 1rem;
	padding: 3rem;
}


/* 手机 */
@media only screen and (max-width: 350px) {
	.Web3card1 p {
		text-align: left;
		font-size: 1rem;
		padding: 1.5rem;
	}
}



/*──────────────────
  学习文档-5Projects
──────────────────*/

#projects {
	max-width: 1536px;
	margin: auto;
	width: 100%;
	margin-top: 100px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}



#projects p {
	font-size: 1.2rem;
	padding: 10px;
}

.work {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

.work-content {
	display: flex;
	align-items: center;
	margin: auto;
	justify-content: center;
}

.work-content:hover {
	height: 1vh;
}

.work-content svg {
	background-color: transparent;
}

.card {
	transition: all 0.3s;
	display: flex;
	flex-direction: column;
	margin: 10px;
	width: 200px;
	height: 250px;
	border-radius: 12px;
	box-shadow: 0 0 0.1rem #ea7411;
	text-decoration: none;
}

.card img {
	width: 100%;
	height: 15vh;
	border-radius: 12px 12px 0px 0px;
	transition: all 0.5s;
}

.card img:hover {
	width: 100%;
	height: 16vh;
	border-radius: 12px 12px 0px 0px;
}

.work a {
	text-align: center;
	font-size: 1rem;


	cursor: pointer;
}



.card:hover {
	color: #000;
	transition: all 0.8s;
	box-shadow: 0 0 0.9rem #ea7411;
	background: linear-gradient(126.33deg, #ea7411 26.26%, #f0c144 108.32%);

}


@media only screen and (max-width: 700px) {
	.card {
		display: flex;
		flex-direction: column;
		margin: 10px;
		width: 96px;
		height: 120px;
		border-radius: 6px;
	}

	.card img {
		width: 100%;
		height: 8vh;
		border-radius: 6px 6px 0px 0px;
	}

	.card img:hover {
		width: 100%;
		height: 9vh;
		border-radius: 6px 6px 0px 0px;
	}

	.work a {

		text-align: center;
		font-size: 0.8rem;


		cursor: pointer;
	}
}

@media only screen and (max-width: 277px) {
	.card {
		display: flex;
		flex-direction: column;
		margin: 3px;
		width: 66px;
		height: 90px;
		border-radius: 6px;
		background: transparent;
	}

	.card img {
		width: 100%;
		height: 5vh;
		border-radius: 6px 6px 0px 0px;
	}

	.card img:hover {
		width: 100%;
		height: 6vh;
		border-radius: 6px 6px 0px 0px;
	}

	.work a {

		text-align: center;

		font-size: 0.5rem;


		cursor: pointer;
	}
}

/*──────────────────
      联系
──────────────────*/

#contact {
	max-width: 1536px;
	margin: auto;
	height: 85vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#contact p {
	padding: 10px;
	text-align: center;
	font-size: 1.2rem;
}


.intro4 {
	max-width: 1536px;
	justify-content: space-evenly;
	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
	width: 100%;

	z-index: 1;
	margin: auto;


	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}

.intro4 p {

	font-size: 1.2rem;

	text-align: center;
}

.intro4 h3 {
	padding-bottom: 15px;
	letter-spacing: normal;

	font-style: normal;
	font-size: 2rem;

	text-shadow: 0px 0px 40px var(--main-decor-color);
}

/*──────────────────
	合作LOGO
──────────────────*/

.kapianLOGOP {
	text-align: center;
	font-size: 1.2rem;
}

.kapianLOGO {
	max-width: 1536px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.feature-cardLOGO {
	display: flex;
	justify-content: center;
	text-align: center;
	height: 40px;
	width: 40px;
	background-color: transparent;
	flex: 1 1 40px;
}


.feature-cardLOGO svg img {

	text-align: center;
	height: 40px;
	width: 40px;
	background-color: transparent;
	flex: 1 1 40px;

}

@media only screen and (max-width: 400px) {
	.feature-cardLOGO {
		height: 2rem;
		width: 2rem;

	}

	.feature-cardLOGO img,
	.feature-cardLOGO svg {

		height: 2rem;
		width: 2rem;


	}
}












/*──── hr下划线 ─────*/

.About_hr {
	background: var(--main-decor-color);

	height: 10px;
	width: 150px;
	border-radius: 5px;
	border: hidden;
	margin-inline-start: auto;
	margin-inline-end: auto;
}


/*────────────────── 
     滚动条
──────────────────*/
/*────────────────── 
       跑马灯
──────────────────*/
.marqueeContainer {
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.marqueeTrack img {
	height: 50px;
	width: 50px;
}

.marqueeTrack svg {
	height: 50px;
	width: 50px;
}

.marqueeTrack {
	display: flex;
	width: 3900px;
	/* 假设每个 .marqueeItem 的宽度都是 200px，需要显示 3 个 .marqueeItem */
	animation: marquee 20s linear infinite;
	/* 每个 .marqueeItem 动画时间是 4s，需要显示 3 个 .marquee-item，因此动画总时间是 12s */
}

.marqueeItem {
	padding: 0px;
	width: 150px;
	text-align: center;
	border: solid black 1px;

	margin: 1px;
}

@keyframes marquee {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-50%);
		/* -50% 表示偏移量为一个 .marqueeItem 的宽度 */
	}
}

@media only screen and (max-width: 390px) {
	.marqueeTrack img {
		height: 40px;
		width: 40px;
	}

	.marqueeTrack svg {
		height: 40px;
		width: 40px;
	}

	.marqueeTrack {
		display: flex;
		width: 3900px;
		/* 假设每个 .marqueeItem 的宽度都是 200px，需要显示 3 个 .marqueeItem */
		animation: marquee 20s linear infinite;
		/* 每个 .marqueeItem 动画时间是 4s，需要显示 3 个 .marquee-item，因此动画总时间是 12s */
	}

	.marqueeItem {
		padding: 0px;
		height: 5%;
		width: 80px;
		text-align: center;
	}
}