.zufang {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    color: var(--shiki-color);

}

.house_list {
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.house_card {
    width: 300px;
    height: 400px;
    margin-bottom: 50px;
    border-radius: 16px;
    color: var(--shiki-color);
    box-shadow: 0 0 0.1rem rgb(142, 140, 140);
    background: var(--shiki-Navbar-background);
}

.house_card:hover {
    width: 300px;
    height: 400px;
    margin-bottom: 50px;
    border-radius: 16px;
    color: var(--shiki-color);
    box-shadow: 0 0 0.1rem rgb(142, 140, 140);
    background: var(--shiki-link-hover-background);
}

.Carousel {
    border-radius: 16px;
}

.Carousel_div {
    border-radius: 16px;
    width: 300px;
    height: 300px;
}

.Carousel_img {

    object-fit: cover;
    border-radius: 16px;
}

.house_text {
    width: 300px;
    height: 100px;
}

.house_text_h4 {
    padding: 5px;
}

.house_text p {
    padding: 5px;
}

@media only screen and (max-width: 735px) {
    .house_list {
        padding: 0.2rem;

        display: flex;
        justify-content: space-evenly;
        margin: auto;
        flex-direction: column;
        align-items: center;
    }

    .house_card {
        width: 100%;
        height: 400px;
        margin-bottom: 5vh;
        border-radius: 16px;
        color: var(--shiki-color);
        box-shadow: 0 0 0.1rem rgb(142, 140, 140);
        background: var(--shiki-Navbar-background);
    }

    .house_card:hover {
        width: 100%;
        height: 400px;
        margin-bottom: 5vh;
        border-radius: 16px;
        color: var(--shiki-color);
        box-shadow: 0 0 0.1rem rgb(142, 140, 140);
        background: var(--shiki-link-hover-background);
    }

    .Carousel_div {
        width: 100%;
        height: 300px;
        border-radius: 16px;
    }

    .Carousel_img {
        width: 100%;
        object-fit: cover;
        border-radius: 16px;
    }

    .house_text {
        width: 100%;
        height: 100px;
        border-radius: 16px;

    }
}


.Loading_Image{

    display: flex;
    justify-content: center;
    align-items: center; 
}
.Loading_Input{

}