.my-custom-class {
    height: 40px !important;
    padding: 10px!important;
    /* background: var(--color)!important; */
}

@media only screen and (max-width: 750px) {

    .tw-connected-wallet__wallet-icon {
        height: 0px !important;
        width: 0px !important;
    }
}