/*────────────────── 
       页眉
──────────────────*/


.footer {
    border-top: 1px solid rgba(204, 204, 204, 0.3);
    padding: 1vh;
    background: var(--footer-background) ;
    
}

.footer a {


    letter-spacing: 1px;
    text-decoration: none;
}

.footer a:hover {
    color: #ffffff;
}

.footer .a1:hover {
    color: #ffffff;
}

.footer_background {
    margin: auto;
    max-width: 1520px;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 390px) {

    .footer a {
        font-size: 0.7rem;
    }

    .footer {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 315px) {
    .content a {
        font-size: 0.5rem;
    }

    .footer a {
        font-size: 0.5rem;
    }

    .footer {
        font-size: 0.5rem;
    }
}

/*////////*/


#ff {
    max-width: 1020px;
    width: 96%;
    height: 100%;
    display: left;
    justify-content: left;

    font-size: 1rem;
    line-height: 30px;
    text-align: flex-start;

    margin: 0 auto;
}

.ffaa {

    height: 100%;
}

.页眉 {
    display: flex;

    font-size: 1em;
    padding: 10px;
}

.版权 {
    font-size: 1em;

}

.link_name h2 {
    font-size: 1.5rem;
    margin-bottom: 1vh;
}

.link_boxes {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link_boxes1 {
    flex: 1;
}

.link_boxes li {
    list-style: none;
}

.link_boxes ul li h2 {
    margin-top: 10%;
}

.content {
    display: flex;
}

.content a {

    letter-spacing: 1px;
    text-decoration: none;
}

.content a:hover {
    color: #ea7411;
    text-decoration: none;
}

@media only screen and (max-width: 275px) {



    .link_boxes {
        display: flex;
        justify-content: space-around;
    }

    .link_boxes ul li h2 {
        margin-top: 10%;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 315px) {
    #ff {
        line-height: 20px;
    }
}


.logofooter {

    padding: 20px;
    display: flex;
    position: center;
    align-items: space-around;
    justify-content: center;
}

.QianCset {

    opacity: 50%;
    transition: 0.5s;
}

.QianCset:hover {
    opacity: 100%;
    transition: 0.5s;
}


/*──────────────────
    社交媒体
──────────────────*/

.social-media {
    padding: 0.5rem;
    display: flex;
    position: center;
    align-items: space-around;

}

.social-media li {
    list-style: none;
}

.social-media a {
    transition: all 0.2s;
    margin: 0.5rem;
    font-size: 2rem;
    text-align: center;
    display: inline-block;


}

.social-media a i {
    cursor: pointer;
    font-size: 2rem;
}



@media only screen and (max-width: 450px) {
    .social-media a i {
        cursor: pointer;
        font-size: 1.5rem;
    }

}


.social-media a:hover {
    color: #ea7411;
    text-shadow: 0 0 100px var(--main-decor-color);
}

.social-media a:hover {
    color: #ea7411;
    text-shadow: 0 0 100px var(--main-decor-color);

}