.button_About_1 {
  transition: all 0.5s;
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Arial;
  color: black;
  font-size: 2rem;
  background: #e4a817;
  padding: 10px;
  border: solid black 1px;
  cursor: pointer;
  border: none;
  margin: 15px;

}

.button_About_1:hover {
  background: #ea7411;
}

.button_About_2 {
  transition: all 0.5s;
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Arial;
  color: black;
  font-size: 2rem;
  background: #eec86f;
  padding: 10px;
  border: solid black 1px;

  cursor: pointer;
  border: none;

  margin: 15px;

}

.button_About_2:hover {
  background: #ea7411;
}

.button_About {
  transition: all 0.5s;
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Arial;
  color: black;
  font-size: 2rem;
  background: #e4a817;
  padding: 10px 10px 10px 10px;
  border: solid black 1px;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.button_About:hover {
  background: #ea7411;
  text-decoration: none;
}




@media screen and (min-width:801px) and (max-width:1280px) {
  .button_About_1 {
    font-size: 2rem;
  }

  .button_About_2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 850px) {
  .button_About_1 {
    font-size: 1.5rem;
    width: 90vw;
    margin: 5px;
  }

  .button_About_2 {
    font-size: 1.5rem;
    width: 90vw;
    margin: 5px;
  }

  .button_About {
    font-size: 1.5rem;
    width: 90vw;
  }
}

/* Pulsing Outline */
.pulse {
  box-shadow: 0 0 0 0 rgba(234, 116, 17, 1);
  animation: pulsing-outline 2s infinite;
}
@keyframes pulsing-outline {
  0% {
    box-shadow: 0 0 0 0 rgba(234, 116, 17, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(234, 116, 17, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(234, 116, 17, 0);
  }
}