.button_About_1 {
  transition: all 0.5s;
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Arial;
  font-size: 2rem;
  background-color: rgba(234, 115, 17, 0.33) !important;
  padding: 5px 25px;
  border: solid black 1px;
  cursor: pointer;
  border: none;
  margin: 15px;
  border: 1px solid rgba(234, 116, 17);


}

.button_About_1:hover {
  background-color: #ea7411 !important;
}

.button_About_2 {
  transition: all 0.5s;
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Arial;
  font-size: 2rem;
  padding: 5px 25px;
  border: solid black 1px;
  cursor: pointer;
  border: none;
  margin: 15px;
  border: 1px solid rgba(234, 115, 17, 0.33);

}

.button_About_2:hover {
  background-color: #ea7411 !important;

}

.button_About {
  transition: all 0.5s;
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: rgba(234, 115, 17, 0.33);

  padding: 5px 25px;
  border: solid black 1px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(234, 116, 17);
}

.button_About:hover {
  background: #ea7411;
  text-decoration: none;
}






@media only screen and (max-width: 767px) {
  .button_About_1 {
    font-size: 1.5rem;
    width: 90vw;
    margin: 5px;
  }

  .button_About_2 {
    font-size: 1.5rem;
    width: 90vw;
    margin: 5px;
  }

  .button_About {
    font-size: 1.5rem;
    width: 90vw;
  }
}

/* Pulsing Outline */
.pulse {
  box-shadow: 0 0 0 0 rgba(234, 116, 17, 1);
  animation: pulsing-outline 2s infinite;
}

@keyframes pulsing-outline {
  0% {
    box-shadow: 0 0 0 0 rgba(234, 116, 17, 0.7);
  }

  70% {
    box-shadow: 0 0 0 20px rgba(234, 116, 17, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(234, 116, 17, 0);
  }
}