:root {

	/* pages-root */
	--shiki-color: #000;
	--shiki-color-text: #414141;
	--shiki-color-background: transparent;
	--shiki-token-constant: #1976d2;
	--shiki-token-string: #22863a;
	--shiki-token-comment: #aaa;
	--shiki-token-keyword: #d32f2f;
	--shiki-token-parameter: #ff9800;
	--shiki-token-function: #6f42c1;
	--shiki-token-string-expression: #22863a;
	--shiki-token-punctuation: #212121;
	--shiki-token-link: #22863a;




	/* 首页色 */
	--Aboutmian-background-color: #fff;
	/* 主题色 */
	--main-decor-color: #ea7411;
	--main-background: #fff3cb;
	/* 2 加入社区 */
	--feature-card-background: #fff2c6;
	--feature-card-border: solid #000 1px;
	--feature-card-border-hover: solid #ea7411 1px;
	/* 3 web3 */
	--web3-background: #fff;
	--Web3card-border: solid transparent 1px;
	--Web3card-background: #fff2c5;
	/* 4 学习文档 */
	--card-box-shadow: 0 0 0.1rem #fff;
	--card-background: #fff;
	/* footer页眉 */


	/* UI */
	--shiki-link-hover-background: #0000000f;



	/* docs */
	--nextra-primary-hue: 27.37deg;
	--nextra-primary-saturation: 100%;
}


.circle {  
    width: 10vw;  
    height: 10vh;  
 
    background-color: #ea7411;  
    filter: blur(20vh);
    position: absolute;  
}  
    
.circle:first-child {  
  /* 第一个圆的样式 */  
  top: 60vh;  
  left:10vw;  
}  
.circle:last-child {  
    /* 第二个圆的样式 */  
    bottom: 50vh;  
    right: 10vw;  
}  