:root {


	/* 首页色 */
	--Aboutmian-background-color: repeating-linear-gradient(190deg, #fff3cb, #fdecb4 7%, #fff3cb 10%);

	/* 主题色 */
	--main-decor-color: #ea7411;
	--main-background: #fff3cb;



	/* 根header */
	--header-background: linear-gradient(200.33deg, rgba(225, 137, 54, 0.9) 0.26%, rgba(240, 193, 68, 0.9) 108.32%);
	--nav-link-color: #000;
	--nav-link-color-hover: #fff;
	--nav-link-hover-background:#0000000f;
	--nav-link-hover:  #ea7411;
	--header-decor-color:#000000;

	/* 2 加入社区 */
	--feature-card-background: #fff2c6;
	--feature-card-border: solid #000 1px;
	--feature-card-border-hover: solid #ea7411 1px;

	/* 3 web3 */
	--web3-background: linear-gradient(0deg, #ea7411 0.26%, #f0c144 100.32%);
	--Web3card-border: solid transparent 1px;
	--Web3card-background: #fff2c5;

	/* 4 学习文档 */
	--card-box-shadow: 0 0 0.1rem #fff;
	--card-background: linear-gradient(126.33deg, #ea7411 26.26%, #f0c144 108.32%);

	/* footer页眉 */
	--ff-color: #000;
	--content-a-color: #000;
	--content-a-color-hover: #000;
	--ffaa-background: #e4a817;
	--ffbb-background: linear-gradient(200.33deg, #ea7411 0.26%, #f0c144 108.32%);
	--ffbbxx-a-color: #000;
}




body {

}


.loading{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}