.nav_link {
	width: 70%;
	transition: all 0.5s;
	font-size: 1.2rem;
	margin: 5px;
	padding: 5px 10px;
	text-decoration: none;
	color: var(--nav-link-color);
	cursor: pointer;
	position: relative;
	display: flex;
    position: center;
    align-items: space-around;
    justify-content: center;
}

.nav_link.active {
	color: #000000;
	background: var(--main-decor-color);
	-webkit-border-radius: 30;
	-moz-border-radius: 30;
	border-radius: 30px;
}

.nav_link:hover {
	background: var(--nav-link-hover-background);
	-webkit-border-radius: 30;
	-moz-border-radius: 30;
	border-radius: 30px;
}

.nav_link.active:hover {
	color: #000000;
	background: var(--main-decor-color);
	-webkit-border-radius: 40;
	-moz-border-radius: 40;
	border-radius: 40px;
}







/*  */
@media only screen and (max-width: 750px) {
	.nav_link {


		padding: 2px 4px;
	}
}

@media only screen and (max-width: 650px) {
	.nav_link {


		padding: 2px 4px;
	}
}

@media only screen and (max-width: 390px) {
	.nav_link {


		padding: 2px 4px;
	}
}
