@media screen and (min-width:701px) {
  .layout_Nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .www_page_container {
    max-width: 1536px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .www_page_left {
    max-width: 400px;
    width: 400px;
    height: 100%;
    justify-content: flex-start;
  }

  .www_page_right {
    margin-top: 0px;
    max-width: 1136px;
    padding-right: 50px;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
  }



  html {
    overflow-y: scroll;
    height: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .www_page_left {
    width: 100%;
    height: 100%;
  }

  .www_page_right {
    margin-top: 64px;
    max-width: 100vw;
    width: 100%;
    height: 100%;

  }
}