.pc {
    max-width: 300px;
    width: 200px;
    height: 100%;
    z-index: 800;
    border-right: 1px solid rgba(204, 204, 204, 0.15);
    color: var(--color);
    position: fixed;
}

.group-title {
    font-size: 1.1rem;
    margin-top: 30px;
    color: var(--color);
}

/* Sidebar 链接样式 */
.pc_link {
    display: block;
    color: #666;
    text-decoration: none;
    padding: 5px 5px;
    margin: 5px;
}

/* Sidebar 链接悬停样式 */
.pc_link:hover {
    color: var(--color);
    background: var(--link-hover-background);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.pc_link.active {
    color: #ea7411;
    background: var(--link-hover-background);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.DocsNav {
    display: none;
}




/* 移动设备屏幕下的样式 */
@media only screen and (max-width: 700px) {
    .pc {
        display: none;
    }

    .DocsNav {
        position: fixed;
        top: 65px;
        display: flex;
        width: 100vw;
    }

    .DocsNav_NavbarMenu {
        margin-top: 64px;
    }


    .group-title {
        font-size: 1rem;
        margin-top: 30px;
        color: var(--color);
    }

    .pc_link {
        display: block;
        color: var(--pc_link-color);
        text-decoration: none;
        padding: 5px 5px;
        margin: 5px;
    }
}


/* 滚动条样式 */
.pc::-webkit-scrollbar {
    width: 6px;
    /* 设置滚动条宽度 */
}

/* 滚动槽样式 */
.pc::-webkit-scrollbar-track {
    background-color: transparent;
    /* 设置滚动槽背景色 */
}

/* 滚动块样式 */
.pc::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* 设置滚动块背景色 */
    border-radius: 4px;
    /* 设置滚动块边角 */
}

/* 鼠标悬停时滚动块样式 */
.pc:hover::-webkit-scrollbar-thumb {
    background-color: rgba(204, 204, 204, 0.3);
    /* 设置鼠标悬停时滚动块背景色 */
}