.lightToggleIcon_pyhR {
	color: #ffffff;

}

.ModeThemes{
	display: flex;
    position: center;
    align-items: space-around;
    justify-content: center;
}
.ModeThemes:hover{
	background: var(--nav-link-hover-background);
	-webkit-border-radius: 16;
	-moz-border-radius: 16;
	border-radius: 16px;
}

