/* 电脑 */
@media screen and (min-width:701px) {
	.header {
		position: fixed;
		top: 0;
		z-index: 800;
		width: 100%;

		height: 64px;

        background: var(--shiki-header-background);

		border-bottom: 1px solid rgba(204, 204, 204, 0.3);

	}

	.max_header {
		width: 100%;
		height: 100%;
		max-width: 1440px;
		margin: auto;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}

	.header_layout {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
	}



	.Home_QianCset {
		display: flex;
		align-items: center;
	}

	.header_center_link {
		gap: 2rem;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.header_link.active {
		color: #ea7411;
	}

	.header_center_linkA {
		display: none;
	}

	.header_left {
		margin-left: 1.5rem;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.header_center {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.header_right {
		gap: 0.5rem;
		margin-right: 1.5rem;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	.Dropdown{
		display: none;
	}
}

/* 手机 */
@media only screen and (max-width: 700px) {

	.header {
		position: fixed;
		top: 0;
		z-index: 800;
		width: 100vw;
		height: 64px;
		display: flex;
		align-items: center;
		justify-content: center;
        background: var(--background-color-antd);
		border-bottom: 1px solid rgba(204, 204, 204, 0.3);
	}

	.max_header {

		width: 100%;
		height: 100%;

	}

	.header_layout {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
	}


	.header_left {
		margin-left: 1rem;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.header_right {
		margin-right: 1rem;

		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.header_center {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.header_center_link {
		display: none;
	}



	.header_center_linkA {
		position: relative;
	}

	.AiOutlineMenu {
		font-size: 2rem;
	}

	.Dropdown{
		margin-left: 1rem;
		display:block;
	}

}