
[data-theme='dark'] {
		/* text 子体色 */
	--color: #fff;

	/* body */
	--body-background-color: #1b1b1d;
	--body-color: #fff;

	/* 首页色 */
	--homemian-background-color:#1b1b1d;

	/* 主题色 */
	--main-decor-color: #ea7411;
	--main-background: #fff3cb;

	/* antd */
	--background-ant-color: #1f1f1f;

	/* 根header */
	--header-background: rgba(31, 31, 31, 0.9);
	--nav-link-color: #fff;
	--nav-link-color-hover: #ea7411;
	--nav-link-hover: #ea7411;
	--nav-link-hover-background:#ffffff31;
	--header-decor-color:#ea7411;
	
	/*  2 加入社区 */
	--feature-card-background: #1f1f1f;
	--feature-card-border: solid #948f8f 1px;
	--feature-card-border-hover: solid #ea7411 1px;

	/* 3 web3 */
	--web3-background: #2f2f2fb0;
	--Web3card-border: solid #948f8f 1px;
	--Web3card-background: #1f1f1f;
	/* 4 学习文档 */
	--card-box-shadow: 0 0 0.1rem #fff;
	--card-background: #1f1f1f;

	/* footer页眉 */
	--ff-color: #f5a609;
	--content-a-color: #ffcc66;
	--content-a-color-hover: #fff;
	--ffaa-background: #2f2f2f;
	--ffbb-background: #1f1f1f;
	--ffbbxx-a-color: #ffcc66;
}
