:root {


	/* Header */
	--shiki-header-background: #fffffff7;



	/* 首页色 */
	--Aboutmian-background-color: #fff;
	/* 主题色 */
	--theme-color: #ea7411;
	--main-decor-color: #ea7411;
	--main-background: #fff3cb;
	/* 2 加入社区 */
	--feature-card-background: #fff2c6;
	--feature-card-border: solid #000 1px;
	--feature-card-border-hover: solid #ea7411 1px;
	/* 3 web3 */
	--web3-background: #fff;
	--Web3card-border: solid transparent 1px;
	--Web3card-background: #fff2c5;
	/* 4 学习文档 */
	--card-box-shadow: 0 0 0.1rem #fff;
	--card-background: #fff;
	/* footer页眉 */
	--footer-background: rgba(204, 204, 204, 0.3);


	/* UI */
	--shiki-link-hover-background: #0000000f;



	/* docs */
	--pc_link-color: #545353d3;
	--QianCset_svg: #000;


	/* antd */
	--background-color-antd: #ffffff !important;
	--color-antd: #ea7411 !important;
}

.QianCset_svg svg {
	color: var(--QianCset_svg);

}

/*--选择器----*/
::selection {
	background: #ea7411;
	color: var(--shiki-color);
}

::-moz-selection {
	color: var(--shiki-color);
	background: #ea7411;
}