[data-theme='dark'] {


	/* Header */
	--header-background: #121212 !important;




	/* 首页色 */
	--Aboutmian-background-color: #111111 !important;
	/* button_About_1 */
	--button_About_1: #f5a609 !important;
	/* 主题色 */
	--theme-color: #ea7411;
	--main-decor-color: #ea7411;
	--main-background: #fff3cb;
	/*  2 加入社区 */
	--feature-card-background: #1f1f1f;
	--feature-card-border: solid #948f8f 1px;
	--feature-card-border-hover: solid #ea7411 1px;
	/* 3 web3 */
	--web3-background: #111111;
	--Web3card-border: solid #948f8f 1px;
	--Web3card-background: #1f1f1f;
	/* 4 学习文档 */
	--card-box-shadow: 0 0 0.1rem #fff;
	--card-background: #1f1f1f;
	/* footer页眉 */
	--footer-background: rgba(26, 26, 26, 0.3) !important;
	/* UI hover */
	--link-hover-background: #ffffff31 !important;


	/* docs */
	--pc_link-color:#ece1e1d3 !important;

	--QianCset_svg: #fff;

	/* nextui */
	--background-color-nextui: #1f1f1f !important;
	--color-nextui: #ea7411 !important;
}