.Sun_icon,
.Moon_icon {
    color: var(--color);
    font-size: 1.5rem;
}
.theme_button_active{
	color: #ea7411 !important;
}
.theme_button_active:hover{
	color: #ea7411 !important;
}
.theme_button_active.active{
	color: #ea7411 !important;
}