.buttonA i {
  color: #000000;
}

.buttonA i:hover {
  color: #ea7411;
}

.fa-sun {
  color: #181717;
  font-size: 16px;
}

.button1 {
  transition: all 0.5s;
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Arial;
  color: black;
  font-size: 2rem;
  background: #e4a817;
  padding: 10px;
  border: solid black 1px;
  cursor: pointer;
  border: none;
  margin: 15px;
  
}

.button1:hover {
  background: #ea7411;

}

.button2 {
  transition: all 0.5s;
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Arial;
  color: black;
  font-size: 2rem;
  background: #eec86f;
  padding: 10px;
  border: solid black 1px;

  cursor: pointer;
  border: none;

  margin: 15px;

}

.button2:hover {
  background: #ea7411;
}

.Bbutton {
  transition: all 0.5s;
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Arial;
  color: black;
  font-size: 2rem;
  background: #e4a817;
  padding: 10px 10px 10px 10px;
  border: solid black 1px;
  text-decoration: none;
  cursor: pointer;
  border: none;

}

.Bbutton:hover {
  background: #ea7411;
  text-decoration: none;

}

/* Pulsing Outline */
.pulse {
  box-shadow: 0 0 0 0 rgba(234, 116, 17, 1);
  animation: pulsing-outline 2s infinite;
}



@keyframes pulsing-outline {
  0% {
    box-shadow: 0 0 0 0 rgba(234, 116, 17, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(234, 116, 17, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(234, 116, 17, 0);
  }
}

:root {
  --animate-line-speed: 0.3s;
  --animate-line-ease: cubic-bezier(0.12, 0, 0.39, 0);
}



@media screen and (min-width:801px) and (max-width:1280px) {
  .button1 {
    font-size: 2rem;
  }

  .button2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 850px) {
  .button1 {
    font-size: 1.5rem;
    width: 90vw;
    margin: 5px;
  }

  .button2 {
    font-size: 1.5rem;
    width: 90vw;
    margin: 5px;
  }

  .Bbutton {
    font-size: 1.5rem;
    width: 90vw;
  }
}

@media only screen and (max-width: 390px) {


  .social-media1 img {
    height: 10px;
    width: 20px;
  }
}


/*--选择器----*/
::selection {
  background: #ea7411;
  color: #000;
}

::-moz-selection {
  background: #ea7411;
  color: #000;
}



/* 设置提示图标的样式 */
.scroll-down {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 9999;
  animation: scroll-down 3s infinite;
  transition: all 0.5s;
  text-align: center;
}

.scroll-down i {
  color: #ea7411;

  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
}

/* 定义向下滑动动画 */
@keyframes scroll-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}