:root {
  /* 全局css */
  --shiki-color: #000 !important;
  --theme-color: #ea7411 !important;


  /* UI */
  --shiki-link-hover-background: rgba(0, 0, 0, 0.03) !important;

  /* Navbar */
  --shiki-Navbar-background: #fffffff7 !important;
  --shiki-nav_link-color: #545353d3 !important;


  /* Header */
  --shiki-header-background: #fffffff7 !important;
  --shiki-nav_link-background-hover: #0000000f !important;

  /* antd */
  --background-color-antd: #ffffff !important;
  --color-antd: #ffffff !important;

}


@media screen and (min-width:701px) {

body{
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}
  .Router {
    max-width: 1440px;
    justify-content: space-evenly;
    margin: auto;
    flex-direction: column;
    align-items: center;
  }
}