[data-theme='dark'] {
	/* 全局css */
	--color: #fff !important;
	--theme-color: #ea7411;


	/* UI hover */
	--link-hover-background: hsla(0,0%,100%,0.04) !important;

	/* Navbar */
	--Navbar-background: #121212  !important;
	--nav_link-color: #ece1e1d3  !important;

	/* Header */
	--Header-background: #000  !important;
	

	/* nextui */
	--background-color-nextui: #1f1f1f  !important;
	--color-nextui: #1f1f1f !important;

}