:root {
  /* 全局css */
  --color: #000 !important;
  --theme-color: #ea7411 !important;


  /* UI */
  --link-hover-background: rgba(0, 0, 0, 0.03) !important;

  /* Navbar */
  --Navbar-background: #fffffff7 !important;
  --nav_link-color: #545353d3 !important;


  /* Header */
  --Header-background: #fffffff7 !important;
  --nav_link-background-hover: #0000000f !important;

  /* nextui */
  --background-color-nextui: #ffffff !important;
  --color-nextui: #ffffff !important;

}


@media screen and (min-width:701px) {
  .Rainbowkit_WagmiConfig{
    overflow-y: scroll !important;
    background: #ea7411;
}
body{
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}
  .Router {
    max-width: 1536px;
    justify-content: space-evenly;
    margin: auto;
    flex-direction: column;
    align-items: center;
  }
}