.Home_Tabs {
  width: 100%;


  /* border-top: 1px solid rgba(204, 204, 204, 0.3); */
}

.TabsButton {
  height: 100%;
  width: 100%;
  font-size: 1.3rem;

  color: var(--color);
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 手机 */
@media only screen and (max-width: 700px) {
  .TabsButton:hover {
    height: 100%;
    width: 100%;
    color: #ea7411;
    background: transparent;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
  }
}
@media only screen and (max-width: 300px) {
  .TabsButton p{
    display: none;
  }
}