.language-toggle:hover {
	-webkit-border-radius: 16;
	-moz-border-radius: 16;
	border-radius: 16px;
	background: var(--nav-link-hover-background);

}

.language-toggle svg {
	width: 20px;
	height: 20px;
	color: var(--color);
}