.language-toggle:hover {
	box-shadow: 0 0 1rem #ffffff;
	-webkit-border-radius: 16;
	-moz-border-radius: 16;
	border-radius: 16px;
}

.language-toggle svg {
	width: 20px;
	height: 20px;
	color: var(--color);
}