

:root {
    /* 全局css */
    --color: #000;
    --theme-color: #ea7411;

    /* UI */
    --nav-link-hover-background: #0000002b;
    --ModeThemes: #0000002b;

    /* antd */
    --background-color-antd: #ffffff;
    --color-antd:#ea7411 !important;

}

[data-theme='dark'] {
    /* 全局css */
    --color: #fff;

    /* UI */
    --nav-link-hover-background: #ffffff31;
    --ModeThemes: #ffffff31;

    /* antd */
    --background-color-antd: #1f1f1f;
    --color-antd:#ea7411 !important;
}

* {
    margin: 0;
    padding: 0;
}

.fa_icon {
    color: #ea7411;
    font-size: 4rem;
}

/*--选择器----*/
::selection {
    background: #ea7411;
    color: var(--color);
}

::-moz-selection {
    color: var(--color);
    background: #ea7411;
}

.BackLink{
    width: 100%;
    height: 100%;
    padding: 40% 40% 40% 40%;
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.BackLink:hover {
    width: 100%;
    height: 100%;
    padding: 40% 40% 40% 40%;
    text-decoration: none;
    font-size: 1.3rem;
    background: var(--nav_link-background-hover);
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 30px;
}