:root {
  /* 全局css */
  --shiki-color: #000 ;

  /* UI */
  --shiki-link-hover-background: rgba(0,0,0,0.03);

}

[data-theme='dark'] {
  /* 全局css */
  --shiki-color: #fff ;

  /* UI hover */
  --shiki-link-hover-background: hsla(0,0%,100%,0.04);

}


.Router{
  max-width: 1440px;
  justify-content: space-evenly;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

a {  
  text-decoration: none !important; /* 去除下划线 */ 
}  

a:hover {  
  text-decoration: none !important; /* 去除下划线 */  
}  



/*--选择器----*/
::selection {
  background: #ea7411;
  color: var(--shiki-color);
}

::-moz-selection {
  color: var(--shiki-color);
  background: #ea7411;
}





