[data-theme='dark'] {
	/* 全局css */
	--shiki-color: #fff !important;
	--theme-color: #ea7411;

	/* UI hover */
	--shiki-link-hover-background: #ffffff31  !important;

	/* Navbar */
	--shiki-Navbar-background: #121212  !important;
	--shiki-nav_link-color: #ece1e1d3  !important;

	/* Header */
	--shiki-header-background: #121212  !important;
	

	/* antd */
	--background-color-antd: #1f1f1f  !important;
	--color-antd: #1f1f1f !important;

}