:root {
	--color: #000;
	--box: rgb(47, 51, 54);


	/* Footer */
	--AppsFooter-background: #ffffff;

	--nav_link-color: #000000d3;

	/* Header */
	--header-background: #ffffffa8;
	--nav_link-background-hover: #0000000f;
}

.max_layout {
	margin: auto;
	max-width: 1520px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

* {
	margin: 0;
	padding: 0;

}

.loading{
	margin: auto;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: space-evenly; */
	background-size: cover;
	background-position: center;
}
/*---2D旋转---*/
.loading_div_img {
	display: inline-block;
	animation: rotate 20s infinite linear;
	width: 200px;
	height: 200px;
	perspective: 100%;
	margin-top: 10vh;
	margin-bottom: 2vh;
}

.loading_img{
	width: 100%;
	height: 100%;
}