/* 电脑 */
@media screen and (min-width:701px) {
	.AppsHeader {
		position: fixed;
		top: 0;
		z-index: 6;
		width: 100%;
		height: 56px;

		-webkit-backdrop-filter: saturate(300%) blur(5px);
		backdrop-filter: saturate(300%) blur(5px);
		background: var(--header-background);

		border-bottom: 1px solid rgba(204, 204, 204, 0.3);

	}

	.max_AppsHeader {
		margin: auto;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.Header_P {
		font-size: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.Header_left {
		margin-right: auto;
		margin-left: 1%;
	}

	.Header_right {
		margin-left: auto;
		margin-right: 1%;
	}


	.Header_center {
		display: flex;
		align-items: center;
		justify-content: center;

	}



	.Header_User {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.Header_right_User {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-left: auto;
		margin-right: 1%;
	}

}

/* 手机 */
@media only screen and (max-width: 700px) {
	.AppsHeader {
		position: fixed;
		top: 0;
		z-index: 6;
		width: 100%;
		height: 56px;
		display: flex;
		align-items: center;
		justify-content: center;
		-webkit-backdrop-filter: saturate(180%) blur(5px);
		backdrop-filter: saturate(180%) blur(5px);
		background: var(--header-background);

		border-bottom: 1px solid rgba(204, 204, 204, 0.3);
	}

	.max_AppsHeader {
		margin: auto;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.Header_P {
		font-size: 1.5rem;
	}

	.Header_left {
		margin-right: auto;
		margin-left: 1%;
	}

	.Header_right {
		margin-left: auto;
		margin-right: 1%;
	}


	.Header_center {
		display: flex;
		align-items: center;
		justify-content: center;
	}



	.Header_User {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;

	}

	.Header_right_User {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-left: auto;
		margin-right: 1%;
	}
}



