/* 电脑 */
@media screen and (min-width:701px) {
    .zufangdata {
        padding: 1.5rem;
    }

    .zufang_Descriptions {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 2rem;
    }

    .zufangdata_text {
        flex: 1;
    }

    .zufangdata_div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex: 2;
        gap: 1rem;
    }

    .zufangdata_img {
        flex: 1 0 30%;
        /* Adjust this percentage for desired image width */
        max-width: 100%;
        /* To ensure images don't overflow their container */
        height: auto;
        /* To maintain aspect ratio */
        object-fit: cover;
        /* To cover the entire image container */
    }
}

/* 手机 */
@media only screen and (max-width: 700px) {
    .zufang_Descriptions {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0.2rem;

    }

    .zufangdata_text {
        flex: 1;
    }

    .zufangdata_div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex: 2;
        gap: 1rem;
    }

    .zufangdata_img {
        flex: 1 0 30%;
        /* Adjust this percentage for desired image width */
        max-width: 100%;
        /* To ensure images don't overflow their container */
        height: auto;
        /* To maintain aspect ratio */
        object-fit: cover;
        /* To cover the entire image container */
    }
}