/* 电脑 */
@media screen and (min-width:701px) {
	.AppsHeader {
		position: fixed;
		top: 0;
		z-index: 6;
		width: 100%;

		height: 64px;

		-webkit-backdrop-filter: saturate(300%) blur(5px);
		backdrop-filter: saturate(300%) blur(5px);
		background: var(--shiki-header-background);

		border-bottom: 1px solid rgba(204, 204, 204, 0.3);

	}

	.max_AppsHeader {
		width: 100%;
		height: 100%;
		max-width: 1440px;
		margin: auto;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}

	.Header_layout {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
	}

	.Header_left_home {
		margin-left: 1%;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.Header_center_home {
		display: none;
	}



	.Header_left {
		margin-left: 1%;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.Header_right {
		margin-right: 1%;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.Header_center {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.Header_P {
		font-size: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.Header_right_My {
		gap: 0.5rem;
		margin-right: 1.5rem;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}


}

/* 手机 */
@media only screen and (max-width: 700px) {
	.AppsHeader {
		position: fixed;
		top: 0;
		z-index: 6;
		width: 100%;
		height: 64px;
		display: flex;
		align-items: center;
		justify-content: center;
		-webkit-backdrop-filter: saturate(180%) blur(5px);
		backdrop-filter: saturate(180%) blur(5px);
		background: var(--shiki-header-background);

		border-bottom: 1px solid rgba(204, 204, 204, 0.3);
	}

	.max_AppsHeader {

		width: 100%;
		height: 100%;

	}

	.Header_layout {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
	}

	.Header_P {
		width: 100%;
		height: 100%;
		font-size: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.Header_center {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}


	.Header_left {
		margin-left: 1%;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.Header_right {
		margin-right: 1%;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.Header_left_home {
		display: none;
	}

	.Header_center_home {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.Header_My {
		margin-right: 2%;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

}

.BackLink {
	width: 100%;
	height: 100%;
	padding: 40% 40% 40% 40%;
	text-decoration: none;
	font-size: 1.3rem;
	color: var(--shiki-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.BackLink:hover {
	width: 100%;
	height: 100%;
	padding: 40% 40% 40% 40%;
	text-decoration: none;
	font-size: 1.3rem;
	background: #ea7411;
	background-color: var(--shiki-link-hover-background);
	-webkit-border-radius: 30;
	-moz-border-radius: 30;
	border-radius: 30px;
}