.AppsHeader {
	width: 100%;
	height: 3.5rem;
	-webkit-backdrop-filter: saturate(180%) blur(5px);
	backdrop-filter: saturate(180%) blur(5px);
	background: var(--header-background);
	box-shadow: 0 0 1px var(--nav_link-color);
}
.QianCset{
    width: 40%;
    height: 13.2%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.max_AppsHeader {
	margin: auto;
	max-width: 1520px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Header_right {
	margin-left: auto;
	margin-right: 1%;
}

.Header_left{
	margin-right: auto;
	margin-left: 1%;
}
.Header_center{

	display: flex;
	align-items: center;
	justify-content: center;
}