/* 电脑 */
@media screen and (min-width:701px) {
	.AppsHeader {
		position: fixed;
		top: 0;
		z-index: 6;
		width: 100%;
		
		height: 56px;

		-webkit-backdrop-filter: saturate(300%) blur(5px);
		backdrop-filter: saturate(300%) blur(5px);
		background: var(--header-background);
		
		border-bottom: 1px solid rgba(204, 204, 204, 0.3);

	}

	.max_AppsHeader {
		width: 100%;
		height: 100%;
		max-width: 1520px;
		display: flex;
		align-items: center;
	}

	.Header_layout {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
	}

	.Header_left_home {
		margin-left: 1%;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.Header_center_home {
		display: none;
	}

	.Header_left {
		margin-left: 1%;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.Header_right {
		margin-right: 1%;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.Header_center {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.Header_P {
		font-size: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.Header_My {
		margin-right: 1%;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

}

/* 手机 */
@media only screen and (max-width: 700px) {
	.AppsHeader {
		position: fixed;
		top: 0;
		z-index: 6;
		width: 100%;
		height: 56px;
		display: flex;
		align-items: center;
		justify-content: center;
		-webkit-backdrop-filter: saturate(180%) blur(5px);
		backdrop-filter: saturate(180%) blur(5px);
		background: var(--header-background);

		border-bottom: 1px solid rgba(204, 204, 204, 0.3);
	}

	.max_AppsHeader {

		width: 100%;
		height: 100%;

	}

	.Header_layout {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
	}

	.Header_P {
		width: 100%;
		height: 100%;
		font-size: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.Header_center {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}


	.Header_left {
		margin-left: 1%;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.Header_right {
		margin-right: 1%;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.Header_left_home {
		display: none;
	}

	.Header_center_home {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.Header_My {
		margin-right: 2%;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

}