.ModeThemes {
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-border-radius: 30;
	-moz-border-radius: 30;
	border-radius: 30px;
}

.ModeThemes:hover{
<<<<<<< HEAD
=======
	background: var(--shiki-link-hover-background);
<<<<<<< HEAD
>>>>>>> dev
	-webkit-border-radius: 30;
	-moz-border-radius: 30;
	border-radius: 30px;
=======
	-webkit-border-radius: 16;
	-moz-border-radius: 16;
	border-radius: 16px;
>>>>>>> parent of eef63ff (css)
}


.Sun_icon,
.Moon_icon {
	color: var( --shiki-color);

	height: 22px;
	width: 22px;
	-webkit-border-radius: 30;
	-moz-border-radius: 30;
	border-radius: 30px;
}

.Sun_after,
.Moon_after {
	border: none;
	background: var(--shiki-link-hover-background);
	-webkit-border-radius: 30;
	-moz-border-radius: 30;
	border-radius: 30px;
}

.Sun,
.Moon {
	background: none;
	border: none;
	-webkit-border-radius: 30;
	-moz-border-radius: 30;
	border-radius: 30px;
}