
.repo_list {
    list-style-type: none;
    padding: 0;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin: auto;
    justify-content: center;
    color: var(--color);
}

.repo_list li {
    width: 400px;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.repo_list a {
    text-decoration: none;
}
.repo_list h3 {
    margin-top: 0;
    font-size: 20px;
    color: #e00d0d;
}

.repo_list p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #666;
}

.repo_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: var(--color);
}

.repo_details span {
 
}
