.language-toggle{
	display: flex;
    position: center;
    align-items: space-around;
    justify-content: center;

}
.language-toggle:hover {
	-webkit-border-radius: 16;
	-moz-border-radius: 16;
	border-radius: 16px;
	background: var(--shiki-link-hover-background);

}

.language-toggle svg{
	width: 22px;
	height: 22px;
	color: var(--shiki-color);
}

.Locales_text{
	color: var(--shiki-color);
}

.Locales_text.after{
	color: var(--shiki-color);
}
