.AiOutlineTranslation {
	color: var(--color);
	font-size: 1.5rem;
}
.i18n_button_active{
	color: #ea7411 !important;
}
.i18n_button_active:hover{
	color: #ea7411 !important;
}
.i18n_button_active.active{
	color: #ea7411 !important;
}