.homemian {
	background: var(--homemian-background-color);
	justify-content: space-evenly;
	margin: auto;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0;
	margin-top: 6vh;
}

/*──────────────────
       home
──────────────────*/

#home {
	margin: auto;
	max-width: 1520px;

	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-size: cover;
	background-position: center;
}



.intro {
	color: var(--color);
	z-index: 1;
	
}

.intro p {
	margin: 5px;
	font-size: 2rem;

	text-align: center;

}

.intro1 {
	margin-top: 0vh;
	color: var(--color);
	z-index: 1;
	width: 90%;
	height: 100vh;
	position: relative;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.intro1 p strong {
	font-size: 2.5rem;

	text-align: center;

}

.homeh3 {
	padding-top: 4vh;
	padding-bottom: 15px;
	
	height: 100%;
	letter-spacing: normal;
	font-family: #000000;
	font-style: normal;
	font-size: 4rem;
	color: #000000;
	text-shadow:
		2px 2px 40px #ea7411,
		-2px 2px 0 #ea7411,
		2px -2px 0 #ea7411,
		-2px -2px 0 #ea7411;
	text-align: center;
}

@media only screen and (max-width: 236px) {
	.homeh3 {
		font-size: 1.2rem;
	}

	#projects h3 {
		font-size: 1.2rem;
	}

	#contact h3 {
		font-size: 1.2rem;
	}


}

.intro a {
	text-align: left;
}

/*---2D旋转---*/
.rotate1 {
	display: inline-block;
	animation: rotate 20s infinite linear;
	width: 80%;
	height: 80%;
	perspective: 100%;
}

.Imagelogo {
	width: 100%;
	height: 100%;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}


/*------*/
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 1520px;
	height: 100%;
}

.左 {
	flex-basis: 50%;
}

.左 p {
	text-align: left;
	width: 100%;
	height: 100;
}

.右 {
	flex-basis: 50%;
}

.social-media1 {
	margin: 10px;
}

/*──────────────────
       home媒体查询
──────────────────*/
@media screen and (min-width:801px) and (max-width:1580px) {
	#home {
		height: 100vh;
	}

	.marqee-container {
		margin-top: 0px;
	}

	.intro1 p strong {
		font-size: 2rem;
	}

	.homeh3 {
		margin-top: 6vh;
	}


}

@media only screen and (max-width: 850px) {

	#home {

		height: 70vh;

	}

	#home section.intro {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#home section.intro div {
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
	}

	#home section.intro div.social-media {
		float: none;
		text-align: center;
	}

	.左,
	.右 {
		width: 100%;
		float: none;
		text-align: center;
		flex-basis: 100%;
	}

	.左 p {
		text-align: center;
	}

	.intro1 {
		display: block;
		text-align: center;

	}

	.homeh3 {
		font-size: 3rem;
		margin-top: 8vh;
	}

	.intro1 p strong {
		font-size: 1.8rem;
		margin: 10px 0;
	}

	.intro1 img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}

	.social-media1 {
		margin: 20px 0;

	}

	.social-media1 a {
		margin-top: 0px;
		margin-bottom: 0px;
		margin-right: 0px;
		margin-left: 0px;
	}



	.rotate1 {
		display: inline-block;
		animation: rotate 20s infinite linear;
		width: 50px;
		height: 50px;
		perspective: 100px;
		margin-top: 5%;
	}

	.Imagelogo {
		width: 100%;
		height: 100%;
	}

	.右 .marquee-container {
		margin-top: 10px;
	}

	.feature-card {

		height: 80px;
		width: 100%;
		background-color: #f0c144;
		flex: 2 0 80px;

	}
}

@media only screen and (max-width: 390px) {
	.social-media1 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.homeh3 {
		font-size: 2rem;

	}
}


/*--------------------fu--------------------*/




/*----打字---*/
.typing-animation {
	font-size: 1rem;
	overflow: hidden;
	white-space: pre;
	width: 100%;
}

/* 打字动画 */
.typing-animation {
	animation: typing 5s steps(40, end);
}

@keyframes typing {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}



/*────────────────── 
       2加入社区
──────────────────*/
#hmoeWeb3 {
	text-align: center;

	margin: auto;
	max-width: 1520px;
	height: 100%;
	width: 70%;
}

/*──────卡片───*/
.kapian {

	display: flex;
	flex: 1;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 10px;
}

.feature-card {
	position: relative;
	-webkit-border-radius: 30;
	-moz-border-radius: 30;
	border-radius: 30px;
	height: 100%;
	background: var(--feature-card-background);
	flex: 1 0 170px;
	border: var(--feature-card-border);
}

.feature-card:hover {
	transition: all 0.5s;
	box-shadow: 0 0 0.5rem #ea7411;
	border: var(--feature-card-border-hover);
}




.feature-card p i {
	color: #ea7411;
}


.feature-card h4 {
	font-size: 1.1rem;
	font-family: #020202;
	text-align: cergb(0, 0, 0);
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.feature-card h1 {
	/* text-align: right; */
	margin: 10px;
}

.p-aragon {
	font-size: 1rem;
	font-family: #020202;
	text-align: cergb(0, 0, 0);
	text-align: center;
	margin-top: 15px !important;
}

.h4-aragon {
	font-size: 1.1rem;
	font-family: #020202;
	text-align: cergb(0, 0, 0);
	text-align: center;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

@media screen and (min-width:550px) and (max-width:9999px) {
	.feature-card {
		height: 230px;
		flex: 1 0 150px;
		border: var(--feature-card-border);
		-webkit-border-radius: 50;
		-moz-border-radius: 50;
		border-radius: 50px;
	}

	.feature-card p {
		font-size: 1.5rem;
		margin-top: 50px;

	}

	.feature-card h4 {
		font-size: 1.5rem;

		margin-top: 30px;
		margin-bottom: 30px;
	}

	.kapian {
		gap: 30px;
		margin-top: 30px;
	}
}

@media only screen and (max-width: 275px) {
	.feature-card h4 {
		font-size: 0.5rem;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.kapian {
		gap: 10px;
		margin-top: 10px;
	}

	.feature-card {
		height: 155;
		-webkit-border-radius: 20;
		-moz-border-radius: 20;
		border-radius: 20px;
		flex: 1 0 155px;
	}
}

/*────────────────── 
       3web3
──────────────────*/
#web3 {
	margin: auto;
	background: var(--web3-background);
	margin-top: 5%;
	width: 100%;
	height: 100%;
	color: var(--body-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}



.intro2 {
	margin-top: 10%;
	text-align: center;
	color: var(--body-color);
	max-width: 1520px;
	z-index: 1;
	margin: auto;
	padding: 20px;
}

.intro2 h3 {
	padding-bottom: 15px;
	letter-spacing: normal;
	font-family: var(--body-color);
	font-style: normal;
	font-size: 2rem;
	color: var(--body-color);
	text-shadow: 0px 0px 40px var(--main-decor-color);
}

.intro2 div {

	font-size: 1.2rem;
	font-family: var(--body-color);
	text-align: center;
}

.kapianweb3 {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	width: 90%;
	height: 100%;
	z-index: 1;
	margin: auto;
	text-align: center;
}

.kapianweb33 {
	-webkit-border-radius: 50;
	-moz-border-radius: 50;
	border-radius: 50px;
	height: 270px;
	flex: 1 0 200px;
	transition: all 0.5s;
	border: var(--kapianweb33-border);
	background-color: var(--kapianweb33-background);
}

.kapianweb33:hover {
	box-shadow: 0 0 0.9rem #ea7411;
	border: solid #ea7411 1px;

}

.kapianweb333 {
	background-color: transparent;

}

.kapianweb333 p {
	text-align: left;
	font-size: 1rem;
	margin: 5%;
}

.kapianweb333 i {
	font-size: 48px;
	color: #ea7411;
	margin-top: 20px;
}

@media screen and (min-width:1200px) and (max-width:9999px) {
	.kapianweb3 {
		gap: 30px;

	}

	.kapianweb33 {
		height: 350px;
		flex: 1 0 400px;
	}

	.kapianweb333 p {
		font-size: 1.5rem;
		margin: 5%;
	}

}

@media only screen and (max-width: 400px) {
	.kapianweb33 {
		height: 230px;
		flex: 1 0 200px;
		-webkit-border-radius: 30;
		-moz-border-radius: 30;
		border-radius: 30px;
	}

	.kapianweb333 p {
		font-size: 0.8rem;
		margin: 5%;
	}
}


@media only screen and (max-width: 330px) {
	.kapianweb333 p {
		font-size: 0.3rem;
	}
}

@media only screen and (max-width: 240px) {
	.kapianweb333 p {
		font-size: 0.3rem;
		margin-top: 1%;
	}

	.kapianweb33 {
		height: 200px;
		flex: 1 0 150px;
		-webkit-border-radius: 30;
		-moz-border-radius: 30;
		border-radius: 30px;
	}

	.kapianweb333 i {
		font-size: 30px;
		color: #ea7411;
		margin-top: 0px;
	}
}






/*──────────────────
      学习文档
──────────────────*/

#projects {
	max-width: 1520px;

	margin: auto;

	width: 100%;
	margin-top: 100px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--color);
}

.projectsh3 {
	padding-bottom: 15px;
	letter-spacing: normal;

	font-style: normal;
	font-size: 2rem;
	color: var(--color);
	text-shadow: 0px 0px 40px var(--main-decor-color);
}

#projects p {

	font-size: 1.2rem;
	padding: 10px;
}

.work {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.work-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	justify-content: center;
}

.work-content:hover {
	height: 1vh;
}

.work-content svg {
	background-color: transparent;
}

.card {
	transition: all 0.3s;
	display: flex;
	flex-direction: column;
	margin: 10px;
	width: 200px;
	height: 250px;
	border-radius: 12px;
	background: transparent;
	box-shadow: var(--card-box-shadow);
	text-decoration: none;

	color: #000;
	background: var(--card-background);
}

.card img {
	width: 100%;
	height: 15vh;
	border-radius: 12px 12px 0px 0px;
	transition: all 0.5s;
}

.card img:hover {
	width: 100%;
	height: 16vh;
	border-radius: 12px 12px 0px 0px;
}

.work a {
	text-align: center;
	font-size: 1rem;
	color: var(--color);

	cursor: pointer;
}



.card:hover {
	color: #000;
	transition: all 0.8s;
	box-shadow: 0 0 0.9rem #000000;
	background: linear-gradient(126.33deg, #ea7411 26.26%, #f0c144 108.32%);

}


@media only screen and (max-width: 700px) {
	.card {
		display: flex;
		flex-direction: column;
		margin: 10px;
		width: 96px;
		height: 120px;
		border-radius: 6px;
		background: var(--card-background);
	}

	.card img {
		width: 100%;
		height: 8vh;
		border-radius: 6px 6px 0px 0px;
	}

	.card img:hover {
		width: 100%;
		height: 9vh;
		border-radius: 6px 6px 0px 0px;
	}

	.work a {

		text-align: center;
		font-size: 0.8rem;
		color: var(--color);

		cursor: pointer;
	}
}

@media only screen and (max-width: 277px) {
	.card {
		display: flex;
		flex-direction: column;
		margin: 3px;
		width: 66px;
		height: 90px;
		border-radius: 6px;
		background: transparent;
	}

	.card img {
		width: 100%;
		height: 5vh;
		border-radius: 6px 6px 0px 0px;
	}

	.card img:hover {
		width: 100%;
		height: 6vh;
		border-radius: 6px 6px 0px 0px;
	}

	.work a {

		text-align: center;

		font-size: 0.5rem;
		color: var(--color);

		cursor: pointer;
	}
}

/*──────────────────
      联系
──────────────────*/

#contact {
	max-width: 1520px;
	margin: auto;

	height: 85vh;
	color: var(--color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#contact p {
	padding: 10px;
	text-align: center;
	font-size: 1.2rem;

}


.intro4 {
	max-width: 1520px;
	justify-content: space-evenly;

	flex-direction: column;
	align-items: center;

	text-align: center;
	color: var(--color);
	z-index: 1;
	margin: auto;
	padding: 20px;

	-webkit-border-radius: 30;
	-moz-border-radius: 30;
	border-radius: 30px;
}

.intro4 p {
	margin: 5px;
	font-size: 1.2rem;

	text-align: center;
}

.intro4 h3 {
	padding-bottom: 15px;
	letter-spacing: normal;

	font-style: normal;
	font-size: 2rem;
	color: var(--color);
	text-shadow: 0px 0px 40px var(--main-decor-color);
}

/*──────────────────
	合作LOGO
──────────────────*/

.kapianLOGO {
	max-width: 1520px;



	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 5%;

}

.kapianLOGOP {
	text-align: center;
	margin: 5px;
	font-size: 1.2rem;

	margin-bottom: 2%;
}

.feature-cardLOGO {




	text-align: center;
	height: 40px;
	width: 40px;
	background-color: transparent;
	flex: 1 1 40px;
	margin-bottom: 2%;

}

.feature-cardLOGO svg {

	text-align: center;
	height: 40px;
	width: 40px;
	background-color: transparent;
	flex: 1 1 40px;
	margin-bottom: 2%;

}

/*──────────────────
    社交媒体
──────────────────*/

.social-media {

	padding: 10px;
	display: flex;
	position: center;
	align-items: space-around;
	justify-content: center;
}

.social-media li {
	list-style: none;
}

.social-media a {
	transition: all 0.2s;
	margin: 10px;
	font-size: 2rem;
	text-align: center;
	display: inline-block;
	color: var(--color);

}

.social-media a i {
	cursor: pointer;
	font-size: 60px;

}

.social-media Image {
	cursor: pointer;
	height: 60px;
}

@media only screen and (max-width: 450px) {
	.social-media a i {
		cursor: pointer;
		font-size: 40px;
	}

	.social-media Image {
		cursor: pointer;
		height: 40px;
	}
}


.social-media a i:hover {
	color: #ea7411;
	text-shadow: 0 0 100px var(--main-decor-color);
}

.social-media a:hover {
	color: #ea7411;
	text-shadow: 0 0 100px var(--main-decor-color);

}










/*──── hr下划线 ─────*/

hr {
	background: var(--main-decor-color);

	height: 1px;
	width: 150px;
	border-radius: 5px;
	border: hidden;
	margin-inline-start: auto;
	margin-inline-end: auto;
}


/*────────────────── 
     滚动条
──────────────────*/
/*────────────────── 
       跑马灯
──────────────────*/
.marquee-container {
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.marquee-track img {
	height: 50px;
	width: 50px;
}

.marquee-track svg {
	height: 50px;
	width: 50px;
}

.marquee-track {
	display: flex;
	width: 3900px;
	/* 假设每个 .marquee-item 的宽度都是 200px，需要显示 3 个 .marquee-item */
	animation: marquee 20s linear infinite;
	/* 每个 .marquee-item 动画时间是 4s，需要显示 3 个 .marquee-item，因此动画总时间是 12s */
}

.marquee-item {
	padding: 0px;
	width: 150px;
	text-align: center;
	border: solid black 1px;

	margin: 1px;
}

@keyframes marquee {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-50%);
		/* -50% 表示偏移量为一个 .marquee-item 的宽度 */
	}
}

@media only screen and (max-width: 390px) {
	.marquee-track img {
		height: 40px;
		width: 40px;
	}

	.marquee-track svg {
		height: 40px;
		width: 40px;
	}

	.marquee-track {
		display: flex;
		width: 3900px;
		/* 假设每个 .marquee-item 的宽度都是 200px，需要显示 3 个 .marquee-item */
		animation: marquee 20s linear infinite;
		/* 每个 .marquee-item 动画时间是 4s，需要显示 3 个 .marquee-item，因此动画总时间是 12s */
	}

	.marquee-item {
		padding: 0px;
		height: 5%;
		width: 80px;
		text-align: center;
	}
}