/*────────────────── 
       页眉
──────────────────*/
.footer {
    border-top: 1px solid rgba(204, 204, 204, 0.3);
    padding: 1vh;
    background: var(--footer-background);
    text-decoration: none;
}

.footer_max {
    margin: auto;
    max-width: 1440px;
    width: 100%;
    height: 100%;
}

/*──────────────────
    社交媒体
──────────────────*/
.social_media {
    padding: 0.5rem;
    display: flex;
    position: center;
    align-items: space-around;
}

.social_media_div {
    transition: all 0.2s;
    font-size: 2rem;
    margin: 0.5rem;
    text-align: center;
    display: inline-block;
}

.social_media_div a:hover {
    color: #ea7411;
    text-shadow: 0 0 100px var(--main-decor-color);
}









/* 内容 */
.link_boxes {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.link_title {
    margin-top: 30px;
    margin-bottom: 10px;
}

.Link {
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--pc_link-color);
}

.Link:hover {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ea7411;
}

/* 大logo */
.footer_logo {
    padding: 20px;
    display: flex;
    position: center;
    align-items: space-around;
    justify-content: center;
}

@media only screen and (max-width: 700px) {
    .QianCset {
        height: 100%;
        width: 50vw;
        opacity: 50%;
        transition: 0.5s;
    }
}

.QianCset {
    opacity: 50%;
    transition: 0.5s;
}

.QianCset:hover {
    opacity: 100%;
    transition: 0.5s;
}




/* 底部 */

.页眉 {
    display: flex;

    font-size: 1em;
    padding: 10px;
}

.版权 {
    font-size: 1em;

}

/* 手机 */
@media only screen and (max-width: 350px) {

    .link_boxes {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .social_media {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
    }

    .social_media_div {
        transition: all 0.2s;
        font-size: 2rem;
        margin: 0.5rem;
        text-align: left;
        display: inline-block;
    }

}