.TabsButton {
  height: 100%;
  width: 100%;
  font-size: 1.3rem;
  text-decoration: none;
  color: #ea7411;
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TabsButton:hover {
  height: 100%;
  width: 100%;
  background: var(--shiki-link-hover-background);
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
}

